.navbar-nav>li>a {
    display: flex;
    align-items: center;
}

.navbar-nav>li>a>span {
    margin-right: 5px;
}

.navbar-right>li>a {
    display: block;
    text-align: center;
}


h1.title {
    display: none;
}