/* Flex container for navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    /* Distribute items evenly */
    align-items: center;
    /* Center items vertically */
}

/* Style for each navigation item */
.navbar .nav-item {
    display: flex;
    /* Use flexbox for layout */
    align-items: center;
    /* Center items vertically */
    margin-right: 20px;
    /* Adjust spacing between items */
}

/* Style for icons within navigation items */
.navbar .nav-item .fa {
    margin-right: 5px;
    /* Adjust space between icon and text */
}

/* Style for text within navigation items */
.navbar .nav-item span {
    margin-right: 1px;
    /* Adjust space between text and icons */
}